fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
sqlalchemy
asyncpg
celery
redis
ollama
langchain
langgraph
langchain-community
langchain-text-splitters
chromadb
rank-bm25
tavily-python
ragas
rouge-score
networkx
httpx
tenacity
numpy
groq
sentence-transformers
